<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <form method="POST" class="ajaxForm" action="{{path('appointment_create')}}">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ 'title.appointment_new' | trans }}</h4>
      </div>
      <div class="modal-body">
        <div class="form_error"></div>
          <div id="form_body">
              
            <table class="table table-bordered table-striped table-hover">
              <tr>
                <th>{{ 'form.supplier'|trans }}</th>
                <th>{{ 'form.start_date'|trans }}</th>
                <th>{{ 'form.start_hour'|trans }}</th>
                <th>{{ 'form.duration'|trans }}</th>
                <th class="text-center">{{ 'action.show'|trans }}</th>
                <!--<th class="text-center">{{ 'action.edit'|trans }}</th>-->
                {% if is_granted('ROLE_EMPLOYEE') or (app.user.supplierId == appointment.supplierId) %}
                  <th class="text-center">{{ 'action.delete'|trans }}</th>
                {% endif %}
              </tr> 
              {% for appointment in appointments %}
                <tr>
                  <td>{{ appointment.supplierName }}</td>
                  <td>{{ appointment.startDate|localizeddate('long', 'none') }}</td>
                  <td>{{ appointment.startHour|date("H:i") }}</td>
                  <td>{{ appointment.duration }} Min.</td>
                  <td style="width:10%;" class="text-center">
                    <a href="appointment/{{ appointment.id }}" id="view" name="{{ appointment.id }}">
                      <span class="glyphicon glyphicon-folder-open"></span>
                    </a>
                  </td>
                  <!--<td style="width:10%;" class="text-center">
                    <a href="appointment/edit/{{ appointment.id }}">
                      <span class="glyphicon glyphicon-edit"></span>
                    </a>
                  </td>-->
                  {% if is_granted('ROLE_EMPLOYEE') or (app.user.supplierId == appointment.supplierId) %}
                    <td style="width:10%;" class="text-center">
                      <a href="appointment/delete/{{ appointment.id }}" id="del" name="{{ appointment.id }}" onclick="return confirm('{{ 'message.confirm'|trans }}');">
                        <span class="glyphicon glyphicon-remove"></span>
                      </a>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </table>

          </div>
        </div>
      <div class="modal-footer">
        <div class="form-group" style="display:inline-block; float:left;">
          <button type="button" class="btn btn-primary float-left pull-left" id="add">{{ 'action.new'|trans }}</button> 
        </div>
        <div class="form-group" style="display:inline-block">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'action.close'|trans }}</button> 
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  // ADICIONAR
  $("#add").click(function() {
    //prepara info
    var method = "POST";
    var route = "{{ path('appointment_new')|escape('js') }}";
    var data = {
      'startDate': '{{ startDate }}'
    };

    // limpa o modal, questões de apresentação.
    $('#appModal').html('');

    //chamada ajax para ir buscar o novo conteudo
    $.ajax({
      type: method,
      data: data,
      dataType: 'json',
      url: route,
    })
    .done(function(response){
      //set do novo conteudo no modal
      $('#appModal').html(response);
    })
    .fail(function(jqXHR, textStatus, errorThrown){
      alert('Error : ' + errorThrown);
      console.warn(textStatus);
      console.error(errorThrown.toString());
    });

    $('#appModal').modal({backdrop: 'static', keyboard: false}) 
  });

  // VISUALIZAR
  $("#view").click(function(e) {
    //bloqueia redireconamento do <a href=""
    e.preventDefault();

    //prepara info
    var id = this.name;
    //var route = e.target.baseURI;
    var method = "GET";

    var route = "{{ path('appointment_view', {'id': 'PLACEHOLDER'})|escape('js') }}".replace("PLACEHOLDER", id);

    // limpa o modal, questões de apresentação.
    $('#appModal').html('');

    //chamada ajax para ir buscar o novo conteudo
    $.ajax({
      type: method,
      dataType: 'json',
      url: route,
    })
    .done(function(response){
      //set do novo conteudo no modal
      $('#appModal').html(response);
    })
    .fail(function(jqXHR, textStatus, errorThrown){
      alert('Error : ' + errorThrown);
      console.warn(textStatus);
      console.error(errorThrown.toString());
    });

    $('#appModal').modal({backdrop: 'static', keyboard: false}) 
  });

</script>